$default: #000;
$accent: #018FA3;

%Commissioner-400{
    font-family: 'Commissioner-Regular', sans-serif;
    font-weight: 400;
}
%Commissioner-500{
    font-family: 'Commissioner-Medium', sans-serif;
    font-weight: 500;
}
%Commissioner-600{
    font-family: 'Commissioner-SemiBold', sans-serif;
    font-weight: 600;
}
%Commissioner-700{
    font-family: 'Commissioner-Bold', sans-serif;
    font-weight: 700;
}